<nav>
    <div id="logo">
        <a href="http://localhost:2022/">Coffee Time <sup>©</sup></a>
    </div>
    <ul>
        <li><a href="http://localhost:2022/">Home</a></li>
        <li><a href="http://localhost:2022/about">About</a></li>
        <li><a href="http://localhost:2022/contact">Contact</a></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, minima, provident impedit ipsam nostrum odit ut cupiditate ullam placeat, hic ipsum consectetur deserunt ad sit porro nisi asperiores reprehenderit soluta.</p>
</nav>