<%- include('../../partials/_header.ejs') %>
    <h1>About</h1>
    <h2>Coffee time generator</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam similique in iure molestiae cumque quisquam enim. Ut fugiat dolore tempora quibusdam hic iusto maxime autem? Est veniam omnis voluptas adipisci error autem laboriosam suscipit repudiandae deserunt nam. Eum fugit libero explicabo et doloremque nostrum, dolorum minus fugiat quis! Odit vel provident eaque perspiciatis itaque aut neque fugit et delectus nihil deleniti mollitia molestiae aliquid maxime dolorum esse quis animi ut cumque cum illo autem, voluptate illum.</p>
    <div class="img--container">
        <img src="https://images.unsplash.com/photo-1442512595331-e89e73853f31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
        <!-- <img src="https://avatars.githubusercontent.com/u/60394608?v=4" alt=""> -->
    </div>
<%- include('../../partials/_footer.ejs') %>
