@import "./reset";
@import "./variables";
@import "./typo";

html {
    background-color: $first-color;
}

#app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    > * {
        padding: 50px;
    }
}

nav {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    #logo, ul {
        font-weight: 700;
        font-size: 2rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: auto;
    }
}

#page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        max-width: 70%;
    }
}

.img--container {
    width: 100%;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > div {
        display: flex;
        gap: 30px;
    }
    div.input--container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        > input {
            width: 100%;
        }
    }
}

#home-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
    li {
        padding: 10px;
        border: solid black 3px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgba(0, 0, 0, 0.05);
        p {
            opacity: 0.8;
        }
        .img--container {
            img {
                aspect-ratio: 1/1;
            }
            // > img {
            //     width: 500px;
            //     height: 500px;
            //     object-fit: cover;
            // }
        }
    }
}