/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: black;
  color: #ffd82b;
}

::selection {
  background-color: black;
  color: #ffd82b;
}

html {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 5rem;
}

a {
  color: black;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 3px;
  left: 0;
  right: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover::before {
  right: 0;
}

input, textarea, button[type=submit] {
  padding: 10px;
  border: solid black 2px;
  background: rgba(0, 0, 0, 0.05);
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  resize: none;
  min-height: 39px;
}

input[type=file] {
  padding: 0;
}

input[type=file]::-webkit-file-upload-button {
  height: 100%;
  background-color: black;
  color: #ffd82b;
  border: none;
  padding: 0 20px;
  margin-right: 10px;
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button[type=submit] {
  background-color: black;
  color: #ffd82b;
}

html {
  background-color: #ffd82b;
}

#app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

#app > * {
  padding: 50px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

nav #logo, nav ul {
  font-weight: 700;
  font-size: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: auto;
}

#page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#page-container p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 70%;
}

.img--container {
  width: 100%;
}

.img--container > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#contact-form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#contact-form div.input--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
}

#contact-form div.input--container > input {
  width: 100%;
}

#home-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 50px;
}

#home-list li {
  padding: 10px;
  border: solid black 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

#home-list li p {
  opacity: 0.8;
}

#home-list li .img--container img {
  aspect-ratio: 1/1;
}
/*# sourceMappingURL=style.css.map */