@import "./reset";
@import "./variables";
@import "./typo";

html {
    background-color: $first-color;
    ::-webkit-scrollbar {
        background-color: $first-color;
        width: 10px;
        &-thumb {
            background-color: black;
        }
    }
}

#app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    > * {
        padding: 50px;
    }
}

nav {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    #logo, ul {
        font-weight: 700;
        font-size: 2rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: auto;
    }
}

#page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        max-width: 70%;
    }
}

.img--container {
    width: 100%;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > div {
        display: flex;
        gap: 30px;
    }
    div.input--container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        > input {
            width: 100%;
        }
    }
}

#home-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
    a {
        &::before {
            display: none;
        }
        // opacity: 0;
        transform: translateY(150px);
        transition: .4s;
        &.active {
            // opacity: 1;
            transform: translateY(0);
        }
    }
    li {
        padding: 10px;
        border: solid black 3px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        box-shadow: 0 0 0 black;
        transition: .3s;
        &:hover {
            box-shadow: 10px 10px 0 black;
            transform: translate(-10px,-10px);
        }
        p {
            max-width: 90%;
            opacity: 0.8;
            // white-space: nowrap;
            display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .img--container {
            img {
                aspect-ratio: 1/1;
            }
            // > img {
            //     width: 500px;
            //     height: 500px;
            //     object-fit: cover;
            // }
        }
    }
}

.img--member {
    width: auto;
    // position: relative;
    // left: 0;
    // right: -50px;
    margin-top: -50px;
    margin-right: -50px;
    max-height: 50vh;
    > img {
        display: block;
        object-position: 0 35%;
        // display: none;
    }
}

// .bg {
//     position:fixed ;
//     inset: 0;
//     background: white;
//     opacity: 0.5;
//     backdrop-filter: blur(5px);
// }