<%- include('../../partials/_header.ejs') %>
    <h1>Home</h1>
    <h2>Voici une liste de coffee lovers ♥</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis repudiandae doloribus excepturi voluptate accusantium neque deleniti amet veniam ratione tempora?</p>
    <ul id="home-list">
        <li>
            <h2>Pierre</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, nesciunt.</p>
            <div class="img--container"><img src="https://avatars.githubusercontent.com/u/60394608?v=4" alt=""></div>
        </li>
        <li>
            <h2>Gui</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, nesciunt.</p>
            <div class="img--container"><img src="https://avatars.githubusercontent.com/u/60436520?v=4" alt=""></div>
        </li>
        <li>
            <h2>Momo</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, nesciunt.</p>
            <div class="img--container"><img src="https://avatars.githubusercontent.com/u/38907559?v=4" alt=""></div>
        </li>
        <li>
            <h2>Mr x</h2>
            <p>Je ne suis ni une femme ni non-binaire mais un homme ! Wawww</p>
            <div class="img--container"><img src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt=""></div>
        </li>
        <li>
            <h2>Pierre</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, nesciunt.</p>
            <div class="img--container"><img src="https://avatars.githubusercontent.com/u/60394608?v=4" alt=""></div>
        </li>
        <li>
            <h2>Gui</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, nesciunt.</p>
            <div class="img--container"><img src="https://avatars.githubusercontent.com/u/60436520?v=4" alt=""></div>
        </li>
        <li>
            <h2>Momo</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, nesciunt.</p>
            <div class="img--container"><img src="https://avatars.githubusercontent.com/u/38907559?v=4" alt=""></div>
        </li>
        <li>
            <h2>Mr x</h2>
            <p>Je ne suis ni une femme ni non-binaire mais un homme ! Wawww</p>
            <div class="img--container"><img src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt=""></div>
        </li>
    </ul>
<%- include('../../partials/_footer.ejs') %>